# Cloudinary Configuration
VITE_CLOUDINARY_CLOUD_NAME=dhd61lan4
VITE_CLOUDINARY_UPLOAD_PRESET=unsigned_preset

# Supabase Configuration
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=

VITE_GOOGLE_APPS_SCRIPT_URL=
VITE_GOOGLE_APPS_SCRIPT_URL_PUESTO01=
